* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

h1 {
  text-align: center;
  margin: 1rem;
}

nav > ol {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

nav > ol li {
  padding: 10px;
  border: 1px solid black;
}

nav > ol li:hover {
  cursor: pointer;
  background-color: gray;
  color: white;
}

nav > ol li.active {
  background-color: black;
  color: white;
}

main {
  padding: 1rem 0;
}

/* caculate area, hypo, isTriangle */

.form, .quiz {
  border: 1px solid black;
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.form,
.form label, .quiz {
  display: flex;
  flex-direction: column;
}

.form label, .form p {
  gap: 5px;
  font-size: larger;
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem;
}

button {
  padding: 0.5rem;
  background-color: white;
}

button:hover,
button:focus {
  background-color: black;
  color: white;
}

h3 {
  font-size: xx-large;
  padding: 1rem 0;
}

/* quiz  */

.quiz p, .quiz div {
  margin-bottom: 1rem;
}